@import "tailwindcss";

@theme {
  --font-sans: "Press Start 2P", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-[#03030b] text-white overflow-hidden;
  font-family: 'Press Start 2P', cursive;
}

canvas {
  image-rendering: pixelated;
}
